body{
	background:gray;
	color:white;
	font-family:sans-serif;
}

/*Top navigation bar*/
#mainmenu{
	margin:0, 10px, 0, 0;
	padding:0;
	list-style-type:none;
	float:right;
	font-size: 25px;
	display:block;
}

#mainmenu ul{
	margin:0;
	display:block;
}

#mainmenu ul li{
	list-style-type:none;
	display:inline;
	margin:10px;
	padding:0;
}

a, a:visited{
	color:white;
	text-decoration: none;
}

a:hover{
	text-decoration:underline;
}

#blankspace{
	height:260px;
}

@keyframes typing{
	from { width: 0 }
  	to { width: 100% }
}

@keyframes blink-caret {
  0% { border-color: white; }
  25% { border-color: transparent; }
  50% { border-color: white; }
  75% { border-color: transparent; }
}

#mainintro h1{
	font-family: monospace;
	overflow:hidden;
	clear:both;
	border-right: 2px solid transparent;
	text-align:center;
	font-size: 60px;
	margin:0 auto;
	white-space: nowrap;
	animation: 
    typing 6s steps(40, end),
    blink-caret 1.3s step-end 2.3;
}

#mainintro h4{
	clear:both;
	text-align:center;
	font-size: 30px;
	animation: slowappear 4.6s steps(40,end);
}

@keyframes slowappear {
	0% {color:transparent;}
	70% {color:transparent;}
	100% {color:white;}
}