body{
	background:black;
	color:white;
}

#mainNavbar .navbar-brand .enlarge {
	font-size: 2rem;
	color:gray;
}

#mainNavbar {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

.navbar.scrolled {
	background: #ff8c00;
	transition: background 700ms;
}

#mainoptions a,a:visited{
	color:gray;
}

#mainoptions a:hover{
	background: gray;
	color: #ff8c00;
}

@keyframes typing{
	from { width: 0 }
  	to { width: 100% }
}

@keyframes blink-caret {
  0% { border-color: white; }
  25% { border-color: transparent; }
  50% { border-color: white; }
  75% { border-color: transparent; }
}

#mainintro h1{
	font-family: monospace;
	overflow:hidden;
	clear:both;
	border-right: 2px solid transparent;
	text-align:center;
	font-size: 60px;
	margin:0 auto;
	white-space: nowrap;
	animation: 
    typing 6s steps(40, end),
    blink-caret 1.3s step-end 2.3;
}

#mainintro h4{
	clear:both;
	text-align:center;
	font-size: 30px;
	animation: slowappear 4.6s steps(40,end);
}

@keyframes slowappear {
	0% {color:transparent;}
	70% {color:transparent;}
	100% {color:white;}
}