$pcolor: #0978c1;
$gray-5: rgb(40,40,40);
$gray-4: rgb(80,80,80);
$gray-3: rgb(120,120,120);
$gray-2: rgb(160,160,160);
$gray-1: rgb(200,200,200);

$dfont: 'Nunito', sans-serif;
$font2: 'Arvo', serif;

body{
	background:$gray-5;
	color:white;
}

#mainNavbar {
	font-family: $dfont;
	font-weight: 400;
	font-size: 1.5rem;
	background: $pcolor;
	.navbar-brand{
		.enlarge{
			font-size: 2rem;
			color:$gray-5;
		}
	}
}

.navbar{
	.scrolled {
		background: $pcolor;
		transition: background 700ms;
	}
}

#mainoptions {
	a,a:visited{
		color: $gray-5;
	}
	a:hover{
		background: $gray-5;
		color: $pcolor;
	}
}

#mainpage {
	margin-top: 53px;
	color: $pcolor;
	font-family: $font2;
	.col-7{
		background: $gray-5;
		padding-right:0;
		margin-right:0;
		#intro{
			width:95.8%;
			margin:50px 0px 0px 30px;
			padding-top:30px;
			padding-bottom: 237px;
			padding-left:30px;
			background: white;
			#name{
				font-size:100px;
			}
		}
	}
	.col-5{
		padding-left:0;
		margin-left:0;
		#picture{
			background: url("../images/fullbody.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center 40%;
			height: 639px;
			margin:50px 30px 0px 0px;
		}
	}
	#about {
		margin-top:6px;
		.col-4{
			padding-right:3px;
			#about-me{
				background: white;
				margin-left: 30px;
				margin-right:0;
				height: 440px;
				h1{
					font-size: 80px;
				}
			}
		}
		.col-8{
			padding-left:3px;
			#about-desc{
				background: white;
				margin-right: 30px;
				padding: 20px;
			}
		}
	}
	#resume {
		margin-top:6px;
		.col-8{
			padding-right:3px;
			#resume-content{
				background: white;
				margin-left: 30px;
				padding: 20px;
			}
		}
		.col-4{
			padding-left:3px;
			#resume-name{
				background: white;
				margin-right: 30px;
				height: 540px;
				h1{
					font-size: 80px;
				}
			}
		}
	}
}