$pfont: 'Merriweather', serif;
$sfont: 'Lato', sans-serif;
$pcolor: #d9fcff;
$greycolor: #35373b;
$darkergrey: #2c2c2c;
$titlesize: 8vh;
$sectionpad: 12vh;

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("imgs/aurora.jpg");
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -200px;
	background-attachment: fixed;
}

p {
	font-family: $sfont;
	font-weight: 400;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: $greycolor;
  a {
	  display: block;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  color: white;
	  font-size: 20px;
	}
	a:hover {
	  background-color: white;
	  color: $greycolor;
	}
}

#devpost {
	.primary {
		display: inline-block;
	}
	.secondary {
		display: none;
	}
}
#devpost:hover {
	.primary {
		display: none;
	}
	.secondary {
		display: inline-block;
	}
}

nav {
	background-color: transparent;
	transition: background-color 400ms linear;
	font-family: $pfont;
}

.fixed-top.scrolled {
  background-color: $darkergrey !important;
  transition: background-color 400ms linear;
  .nav-item a:hover{
  	background-color: white;
  	color: $darkergrey !important;
  	transition: background-color 800ms linear;
  }
}

#mainnav {
	padding: 0;
}

.navbar-brand {
	padding: 20px;
	font-size: 25px;
	color: white !important;
}

.nav-item {
	a {
		padding: 27px 20px !important;
		color: white !important;
	}
}

#mainbox {
	background-color: transparent;
	color: white;
	text-align: center;
	margin-top: 13vh;
	margin-bottom: 38vh;
	h4, h5 {
		font-family: $sfont;
	}
}

#myname {
	font-size: 10vh;
	font-family: $pfont;
	font-weight: 700;
}

.bggrey {
	background-color: $greycolor;
	color: white !important;
	padding-top: $sectionpad;
	padding-bottom: $sectionpad;
	h2 {
		margin-bottom: 4vh;
		font-family: $pfont;
		font-size: $titlesize;
	}
	p {
		font-family: $sfont;
		font-size: 3.5vh;
		line-height: 8vh;
	}
}

.bgwhite {
	background-color: white;
	padding-top: $sectionpad;
	padding-bottom: $sectionpad;
	color: $greycolor;
	h2 {
		margin-bottom: 4vh;
		font-family: $pfont;
		font-size: $titlesize;
	}
}

.downloadlink span {
	margin-left: 5px;
}

.img-logo {
	width: 24vh;
	height: 24vh;
}

.logo-desc {
	padding-left: 8vw;
	font-family: $sfont;
	h3 {
		font-size: 5vh;
	}
	h6 {
		font-size: 3.6vh;
	}
}